@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>
    <div style="height: 150px;"></div> <!-- Spacer div -->
    <div id="Title" class="text-center my-4">
        <div class="col-12">
            <h1 class="display-4">Dylan's Movie Manager</h1>
            <h4 class="text-muted">Movie and Actor Database with AI Generated Tweets and Reviews</h4>
            <h5 class="text-muted">by Dylan Brearley</h5>
        </div>
    </div>
</body>
</html>
